article_three_d/Results Magistral.txt
article_three_c/Gemini UI run.json
article_three_d/Results Magistral.txt
article_three_a/Qwen3SummaryThisArticle.txt
article_three_d/Results Magistral.txt
article_three_a/magistralSummary.md
article_three_d/Results Magistral.txt
article_three_a/gemma3SummarizeThisArticle.txt
article_three_a/LLM evaluation fundatmentals.txt
bin
lib
lib64
pyvenv.cfg
.venv
pytorch_rocm_venv
flash-attention
triton
.lock
share
.gitignore

